*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: "Roboto", sans-serif;
}
/* #navbar, .home{
    background-image: linear-gradient(to top, #b3ffab 0% 100%);
} */
.navbar-brand{
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    color: #053F1E;
    text-shadow: 0px 1px 1px black;
    margin-bottom: 5px;
}

.navbar-nav{
    margin-left: 20px;
}
.nav-item .nav-link{
    font-size: 18px;
    font-weight: 550;
    color: black;
    letter-spacing: 1px;
    border-radius: 3px;
    transition: 0.5s ease;
}
.nav-item .nav-link:hover{
    background: #004C14;
    color: white;
}

.home{
    padding-top: 100px;
    width: 100%;
    height: 100vh;
    border-top: 1px solid #fff;
}

 .home-content{
    text-align: center;
 }

.home .home-content h2{
    color: black;
    font-size: 70px;
    text-shadow: 0px 1px 1px black;
}
.home .home-content h2 span{
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}
.home .home-content h1{
    color: #053F1E;
    font-size: 48px;
    text-shadow: 0px 1px 1px black;
}
.home button{
    padding: 10px;
    margin-top: 15px;
    background: #004C14;
    color: white;
    letter-spacing: 2px;
    font-weight: 550;
    border: none;
    border-radius: 30px;
    text-decoration: none;
    transition: 0.5s;
    
}
.home button:hover{
    background: white;
    color: #004C14;
}
@media (max-width: 576px) {
    .home{
       
    }
    .home .home-content h2{
        font-size: 30px;
    }
    .home .home-content h1{
        font-size: 20px;
    }
    .about-p{
        padding: 0;
    }

    
}


.about{
    background: #f9f9f9;
    padding-top: 30px;
    padding-bottom: 30px;
}
.about-p{
    background: #fff;
    max-width: 600px;
    display: block;
    margin: auto;
    border-radius: 10px;
    padding: 40px;
    text-align: center;
}
.about .card h1{
    color: #004C14;
    text-align: center;
   
}
.about .card{
    border: none;
    background: #f9f9f9;
}
.about img{
    border-radius: 45%;
    display: block ;
    margin: auto;
}

.main-text{
    text-align: center;
    color: #053F1E;
    padding: 20px;
}
.adventure{
    background: #f9f9f9;
    padding-bottom: 30px;
}

.material-symbols-outlined{
    font-size: 60px;
    margin-top:20px;
    display: flex;
    justify-content: center;
    color: #004C14;
}
.adventure .card{
    border: none;
}
.adventure .card .card-body h3 {
    font-weight: 600;
    color: #053F1E;
    text-align: center;
    font-size: 38px;
}
.gallery{
    background: #f9f9f9;
    padding-bottom: 20px;
}
.gallery img{
    border-radius: 10px;
}

.gallery .row{
    margin-bottom: 40px;
}

footer{
    background: #E3F7BA;
    text-align: center;
    padding-bottom: 20px;
}
footer h1{
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;

}
.contacts .social-links{
    font-size: 32px;
    margin-bottom: 20px;
    margin-left: 10px; 
}
.contacts .social-links i{
    background: #053F1E;
    color: white;
    padding: 10px;
    border-radius: 8px;
}
.contacts .social-links i:hover{
    background:#fff;
    color: #053F1E;
}