/* *{
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
} */
header{
    max-width: 100%;
    background: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    padding: 10px ;
}
h1{
    text-align: center;
    font-size: 42px;

}
.nav-menu{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    font-size: 18px;
    text-decoration: none;
    
}
.nav-menu a{
    text-decoration: none;
    color: #1A3909;
}
.nav-menu a:hover{
    color:#759806 ;
}
.heading{
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    margin: 10px 10px;
    color: #013E1E;
}
.about-paragraphs{
    display: flex;
    flex: 1;
}
p{
    background: #c7ddb5;
    margin: 20px 30px 80px;
    padding: 30px;
    font-size: 18px;
    text-align: center;
    line-height: 2 ;
    border-radius: 6px;
}
