*{
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
} 
header{
    max-width: 100%;
    background: linear-gradient(120deg, #84fab0 0%, #D2FFFF 100%);
    padding: 10px ;
}
h1{
    text-align: center;
    font-size: 42px;
}
.btn{
    border-radius: 30px;
    font-size: 14px;

}
.btn:hover{
    background: rgb(25, 135, 84);
}
.heading{
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    margin: 10px 10px;
    color: #013E1E;
}
.about-content{
    text-align: center;
    max-width: 600px ;
    border-radius:6px ;
    padding: 30px ;
    margin: 20px auto ;
    color: black;
    background: white;
    opacity: 0.7;
    line-height: 1.5;
    font-size: 18px ;
    font-weight: 500;
}
section{
    background-image: url(images/IMG-20200906-WA0589.jpg);
    background-size: cover;
}
